{{define "New"}}

{{template "_head"}}

{{template "_menu"}}
<div class="container">

    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-5">Creating New Planet</h1>
                <p class="lead">Insert the details</p>
            </div>
        </div>
        <form method="POST" action="insert">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="climate">Climate:</label>
                        <input type="text" name="climate" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group">
                        <label for="terrain">Terrain:</label>
                        <input type="text" name="terrain" class="form-control">
                    </div>
                </div>
            </div>
            <button type="submit" value="save" class="btn btn-success">Save</button>
            <a class="btn btn-info" href="/">Back</a>
        </form>
    </body>

</html>
</div>
</body>

</html>
{{end}}